<!-- <ul>
  <li class="text" *ngFor="let chat of chats | async">
    {{chat.message}}
  </li>
  <hr>
  <li class="text" *ngFor="let chat of chats | async">
    {{chat | json}}
  </li>
</ul> -->

<div class="container main-container">
  <h1>FireChat</h1>

  <div class="col-md-12 text-right" *ngIf="_chatService.user.uid">
    <button class="btn btn-outline-danger" type="button"
            (click)="_chatService.logout()">
      Salir
    </button>
  </div>


  <app-login *ngIf="!_chatService.user.uid"></app-login>

  <!-- <div class="chat-window">
    <app-chat></app-chat>
  </div> -->
</div>
